.u-section-1 {
  background-image: none;
  min-height: 787px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 89px;
  margin-bottom: 0;
  min-height: 634px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 634px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 21px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.875rem;
  border-style: none;
  margin: 66px auto 0;
  padding: 0 10px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 43px auto 0;
  padding: 10px 39px 10px 37px;
}

.u-section-1 .u-icon-2 {
  color: rgb(251, 129, 34) !important;
  font-size: 1.5em;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 27px auto 0;
  padding: 10px 46px 10px 45px;
}

.u-section-1 .u-icon-3 {
  color: rgb(251, 129, 34) !important;
  font-size: 1.5em;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 27px auto 0;
  padding: 9px 39px 10px 38px;
}

.u-section-1 .u-icon-4 {
  color: rgb(251, 129, 34) !important;
  font-size: 1.5em;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 27px auto 0;
  padding: 9px 38px 10px 36px;
}

.u-section-1 .u-icon-5 {
  color: rgb(251, 129, 34) !important;
  font-size: 1.5em;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 634px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 634px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  min-height: 62px;
  margin-top: 0;
  margin-bottom: 2px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 846px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 106px;
    min-height: 301px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 618px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 46px;
    padding-left: 45px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 53px;
    padding-left: 52px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 47px;
    padding-left: 45px;
  }

  .u-section-1 .u-btn-5 {
    padding-right: 43px;
    padding-left: 42px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 678px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 678px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 740px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 66px;
    min-height: 30263px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    align-self: center;
    border-style: solid;
    padding-right: 20px;
    padding-left: 18px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 519px;
  }

  .u-section-1 .u-group-1 {
    min-height: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 789px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 70px;
    min-height: 22304px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    padding-right: 17px;
    padding-bottom: 1px;
    padding-left: 15px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 8070px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 756px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 69px;
    min-height: 13461px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 5081px;
  }
}